body {
  font: "system-ui", sans-serif;
  font-size: 14px;
  line-height: 20px;
  cursor: default;
  padding: 20px 20px;
  margin: 0;
}

#popup:target {
  width: 400px;
}

#config_panel {
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-gap: 10px 10px;
  position: relative;
  z-index: 2;
}

#config_panel .config {
  display: contents;
}

input[type=checkbox] {
  margin: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  width: 20px;
  height: 20px;
  border-radius: 2px;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #3b3b3b;
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: #f7f7f7;
    color: black;
  }
}

